<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <style>


.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
}
    </style>
  </head>
  <body ng-app="resumeApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div ng-view="">
        <div ng-controller="ResumeCtrl">
          <div ng-repeat="(key, view) in user.showInResume">
            <span class="checkbox">
              <input type="checkbox" ng-model="user.showInResume[key].show">
              <label>{{view.text}}</label>
            </span>
          </div>
          
          <div class="row">
            <div class="col-xs-6">
              <div ng-module="user">
                <h2>
                    {{user.name}}
                    <small>
                      ({{user.gender}}，{{user.age}})
                    </small>
                </h2>
                <p>
                    {{user.university}}&middot;
                    {{user.education_background}}&middot;
                    {{user.work_experience}}&middot;
                    现居{{user.now_live}}
                </p>
                <p>手机： {{user.phone}}</p>
                <p>邮箱： {{user.email}} </p>
                <p>个人网站：<a href="http://{{user.website}}">{{user.website}}</a></p>
              </div>
            </div>
            <div class="col-xs-6 text-right">
              <img class="photo img-thumbnail" src="images/photo.jpg" ng-show="user.showInResume.photo.show">
            </div>
          </div>

          <div class="well well-sm my-info-tag" ng-show="job_intent">
            <h4>求职意向</h4>
            <div class="media">
              <div class="media-left"></div>
              <div class="media-body">
                前端工程师
              </div>
            </div>
          </div>
            
          <div class="well well-sm my-info-tag animate-show" ng-show="user.showInResume.skill.show">
            <h4>技能</h4>
            <div class="media">
              <div class="media-left"></div>
              <div class="media-body">
                <p>精通的技能</p>
                <p class="text-muted">
                  {{user.skill["0"]}}
                </p>
                <p>熟悉的技能</p>
                <p class="text-muted">
                  {{user.skill["1"]}}
                </p>
              </div>
            </div>
          </div>
          
          <div class="well well-sm my-info-tag" ng-show="user.showInResume.education_experience.show">
            <h4>教育经历</h4>
            <div class="media">
              <div ng-repeat="exp in user.education_experience">
                <div class="media-left text-muted">
                  <div>{{exp.start}}至</div>
                  {{exp.end}}
                </div>
                <div class="media-body">
                  {{exp.major}}&nbsp;
                  {{exp.school_name}}&nbsp;
                  {{exp.school_type}}
                </div>
              </div>
            </div>
          </div>

          <div class="well well-sm my-info-tag" ng-show="user.showInResume.certificate_and_glory.show">
            <h4>证书、荣誉</h4>
            <div class="media">
              <div class="media-left"></div>
              <div class="media-body text-muted">
                <div ng-repeat="cert in user.certificate">
                  <p>{{cert}}</p>
                </div>
                <div ng-repeat="gl in user.glory">
                  <p>{{gl}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="well well-sm my-info-tag" ng-show="user.showInResume.self_evaluation.show">
            <h4>自我评价</h4>
            <div class="media">
              <div class="media-left"></div>
              <div class="media-body text-muted">
                {{user.self_evaluation}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <center>
          <span class="glyphicon glyphicon-heart">
          </span> by <a href="http://182.92.8.100" target="_">huker</a>
        </center>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       // ga('create', 'UA-XXXXX-X');
       // ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
<!-- <script src="bower_components/jquery/dist/jquery.js"></script> -->
<!-- <script src="bower_components/angular/angular.js"></script> -->

<!-- <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script> -->
<!-- <script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script> -->
    <!-- endbower -->
    <!-- endbuild -->
        <script src="bower_components/requirejs/require.js" data-main="scripts/config.js"></script>
<!-- <script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/login.js"></script> -->
</body>
</html>
