<div class="row">
            <div class="col-xs-8">
              <div ng-module="user">
                <h2>
                    {{user.name}}
                    <small>
                      ({{user.gender}}，{{user.age}})
                    </small>
                </h2>
                <p>
                    <span ng-show="user.showInResume.university.show">{{user.university}}&middot;</span>
                    <span ng-show="user.showInResume.education_background.show">{{user.education_background}}&middot;</span>
                    <span ng-show="user.showInResume.work_experience_time.show">{{user.work_experience_time}}&middot;</span>
                    <span ng-show="user.showInResume.now_live.show">现居{{user.now_live}}</span>
                </p>
                <p>手机： {{user.phone}} </p>
                <p>邮箱： <a href="mailto:{{user.email}}"></a>{{user.email}} </p>
                <p>
                    个人网站：<a href="http://{{user.website}}" target="_">{{user.website}}</a>
                    &nbsp;
                    GitHub:<a href="http://{{user.github}}" target="_">{{user.github}}</a>
                </p>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <img class="photo img-thumbnail" src="images/photo.jpg" ng-show="user.showInResume.photo.show">
            </div>
          </div>

          <div class="well well-sm my-info-tag" ng-show="job_intent">
            <h4>求职意向</h4>
            <div class="media">
              <div class="media-left"></div>
              <div class="media-body">
                前端工程师
              </div>
            </div>
          </div>
            
          <div class="well well-sm my-info-tag" ng-show="user.showInResume.skill.show">
            <h4>技能</h4>
            <div class="media">
              <div class="media-left"></div>
              <div class="media-body">
                <ul ng-repeat="skill in user.skill">
                  <li>{{skill}}</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="well well-sm my-info-tag" ng-show="user.showInResume.self_evaluation.show">
            <h4>自我介绍</h4>
            <div class="media">
              <div class="media-left"></div>
              <div class="media-body">
                {{user.self_evaluation}}
              </div>
            </div>
          </div>

          <div class="well well-sm my-info-tag" ng-show="user.showInResume.education_experience.show">
            <h4>教育经历</h4>
            <div class="media">
              <div ng-repeat="exp in user.education_experience">
                <div class="media-left text-muted">
                  <div>{{exp.start}}至</div>
                  {{exp.end}}
                </div>
                <div class="media-body">
                  {{exp.major}}&nbsp;
                  {{exp.school_name}}&nbsp;
                  {{exp.school_type}}
                </div>
              </div>
            </div>
          </div>

          <div class="well well-sm my-info-tag" ng-show="user.showInResume.work_experience.show">
            <h4>工作经历</h4>
            <div class="media">
              <div ng-repeat="exp in user.work_experience">
                <p>
                  <div class="media-left text-muted">
                    <div>{{exp.start}}至</div>
                    {{exp.end}}
                  </div>
                  <div class="media-body">
                    <div>{{exp.company}}</div>
                    <small>
                      {{exp.content}}
                    </small>
                  </div>
                </p>
              </div>
            </div>
          </div>

          <div class="well well-sm my-info-tag" ng-show="user.showInResume.certificate_and_glory.show">
            <h4>证书、荣誉</h4>
            <div class="media">
              <div class="media-left"></div>
              <div class="media-body">
                <div ng-repeat="gl in user.glory">
                  <p>{{gl}}</p>
                </div>
                  <div ng-repeat="cert in user.certificate">
                  <p>{{cert}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="well well-sm my-info-tag" ng-show="user.showInResume.project_experience.show">
            <h4>项目经验</h4>
            <div class="media">
              <div class="media-left"></div>
              <div class="media-body">
                <div ng-repeat="proj in user.project_experience">
                  <h4>
                    {{proj.name}}
                    <small class="text-muted">{{proj.type}}</small>
                    <small class="text-muted" ng-show="proj.role">{{"职责：" + proj.role}}</small>
                    <small class="text-muted" ng-show="proj.website">
                      <a href="http://{{proj.website}}" target="_">网址</a>
                    </small>
                    <small class="text-muted" ng-show="proj.source">
                      <a href="{{proj.source}}" target="_">源码</a>
                    </small>
                  </h4>
                  <p>简介：{{proj.content}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>